* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Antonio|League+Spartan:700,regular&display=swap');

body {
    background: url(./assets/images/background-stars.svg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-color: #070724;
    font-family: Antonio;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* toggle */
.popup-menu {
    display: none;
    position: fixed;
    top: 70px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* Ensure it's above the overlay */
    background-color: #070724;
    overflow-y: scroll;
}

.wrap-popup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 23px;
    margin-left: 24px;

}

.popup-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 43px;
    width: 100%;
}

.popup-menu-content .list .listItem {
    width: 100%;
    height: 43px;

}

.popup-hr {
    margin-left: 24px;
    margin-right: 24px;
    background-color: #fff;
    opacity: .2;
    margin-bottom: 22px;
}

.popup-menu-content .list .listItem a {
    color: #fff;
    margin-left: 24px;
    text-align: start;
    font-family: League Spartan, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;

}



.mercury,
.active {
    background-color: #419EBB;

}

.mercury,
.venus,
.earth,
.mars,
.uranus,
.jupiter,
.saturn,
.neptune:hover {
    cursor: pointer;
}

.venus {
    background-color: rgb(247, 204, 127);
}

.earth {
    background-color: rgb(84, 91, 254);
}

.mars {
    background-color: rgb(255, 106, 69)
}

.jupiter {
    background-color: rgb(236, 173, 122);
}

.saturn {
    background-color: rgb(252, 203, 107);
}

.uranus {
    background-color: rgb(101, 240, 213)
}

.neptune {
    background-color: rgb(73, 126, 250);
}

.popup-menu-content .list {
    width: 100%;
    padding-bottom: 2px;
}

/* Close button style */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.burger-icon:checked+.popup-overlay {
    display: block;
}

.burger-icon:checked+.popup-overlay+.popup-menu {
    display: block;
}




header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68.5px;
}

header H1 {
    font-family: Antonio;
    font-style: normal;
    letter-spacing: -1.05px;
    margin: 16px 0 16px 24px
}

.headerNav .list .listItem a,
.headerNav .list .listItem,
.headerNav .list,
.headerNav {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

H1 {
    font-weight: 400;
    font-size: 28px;
    color: #fff;
}

.burger-icon {
    background-image: url(./assets/images/icon-burger.svg);
    background-size: cover;
    width: 24px;
    height: 17px;
    background-color: #070724;

    color: #fff;
    margin: 16px 24px 16px 0;
}

.popup-menu {
    display: none;
}

.popup-menu-container {
    position: relative;
    /* Position relative for positioning the popup menu */
}



.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 360px;
    height: 56px;
    width: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;

}

.introduction a {
    font-family: League Spartan;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    opacity: .5;
    margin: 24px 20px 0;

}
.overviewDiv{
     background-color: #419EBB;
}
.quarter{
    width: 80px;
    height: 4px;
    margin-top: 17px;
   
}

.source {
    color: #fff;
    opacity: .5;
    font-family: League Spartan;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    mix-blend-mode: normal
}

.planetInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planetName {

    font-family: Antonio;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
}

.description {
    margin: 16px 24px 32px;
    text-align: center;
    font-family: League Spartan;
    font-style: normal;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.option,
.options .option {
    display: none;
}

.sourceDiv {
    display: flex;
    flex-direction: row;
}

.key {
    opacity: .5;
    font-family: League Spartan;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 24px;
    letter-spacing: .727273px;
}

.value {
    font-family: Antonio;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -.75px;
    margin-right: 24px;
}

.bigContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.source {

    color: #fff;
    opacity: .5;
    font-family: League Spartan;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    mix-blend-mode: normal
}

.sourceWiki {
    text-decoration: underline;
    color: #fff;
    opacity: .5;
    font-family: League Spartan;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    mix-blend-mode: normal
}

.mainHr {
    background-color: #fff;
    opacity: .2;
    mix-blend-mode: normal;
    width: 100%;
}

.planetImg {
    margin: 95px;
    width: 111px;
    height: 111px;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 24px 48px;
    gap: 8px;

}

.container {
    height: 48px;
    width: 100%;
    ;
    border: 1px solid #ffffff;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.textWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (min-width: 768px) {
    .planetImg {
        margin: 95px;
        width: 270px;
        height: 270px;

    }

    .popup-menu,
    .popup-menu-container,
    .popup-menu-content,
    .popup-close,
    .popup-hr,
    .wrap-popup {
        display: none;
    }

    .list {
        display: flex;
        margin-top: 39px;
        margin-right: 15px;
        margin-bottom: 20px;
        gap: 20px
    }

    .introduction {
        display: none;
    }

    .listItem {
        background-color: unset;
        margin: 0px;
        /* padding-top:45px; */
    }

    .listItem a {
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        text-align: center;
        height: 30px;

    }

    .headerNav .list .listItem a,
    .headerNav .list .listItem,
    .headerNav {
        display: block !important;

    }

    .headerNav {
        width: 66.5%;
        height: 89px;
    }

    .surfaceDiv,
    .structureDiv {
        background-color: unset;
    }

    .headerNav .list .listItem a {
        color: #fff;
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: League Spartan;
    }

    .textOptions {
        display: flex;
        flex-direction: row;
        margin-left: 39px;
    }

    .optionsWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .textWrap {
        align-items: flex-start;
        justify-content: center;
    }

    .description {
        margin-left: 0px;
        text-align: unset;
    }

    .option p {
        display: flex;
        color: #fff;
        opacity: .5;
        font-family: League Spartan;
        font-style: normal;
        font-weight: 700;
        margin-right: 17px;
        margin-left: 20px;
        letter-spacing: 1.92857px;
        line-height: 25px;
        font-size: 12px;
    }

    .details {
        flex-direction: row;
        justify-content: center;
        gap: 22px;
        /* max-width: 768px; */
    }

    .value {
        font-size: 25px;
    }

    .key {
        font-size: 12px;
    }

    .headerNav .list .listItem a,
    .headerNav .list .listItem,
    .headerNav .list,
    .headerNav {
        display: flex;
    }






    .container {
        width: 163.5px;
        height: 88px;
        border: 1px solid rgba(255, 255, 255, .2);
        flex-direction: column;
        justify-content: center;
        align-items: normal;
    }

    .key,
    .value {
        margin-left: 15px;
    }

    h5 {
        opacity: 1;
        color: #fff;
        text-align: left;
        font-family: League Spartan;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 25px;
    }

    .optionsWrap a:hover {
        background-color: #555;
        cursor: pointer;
    }

    .option {
        border: 1px solid rgba(255, 255, 255, .2);
        width: 281px;
        height: 40px;
        display: flex;
        margin: 24px 20px 0;
        align-items: center;
    }

    header h1 {
        margin-bottom: 0px;
    }

    ul li {
        width: 66.5%;
        height: 89px;
        display: flex;
        margin-top: 39px;
        margin-right: 15px;
        margin-bottom: 20px;
        gap: 20px;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    .burger-icon {
        display: none !important;
    }

    header {
        display: flex;
        flex-direction: column;
        height: 141.5px;
    }

    .headerNav {
        display: flex;
        max-width: 511px;

    }
}

@media all and (min-width:770px) {
    .container {
        width: 164px;
    }

}

@media all and (min-width: 1440px) {
    header {
        height: 93px;
        flex-direction: row;

    }


    .bigContainer {
        margin-left: 165px;
        margin-right: 165px;
        margin-top: 126px;
    }

    .planetImg {
        margin-left: 150px;
        width: 290px;
        height: 290px;

    }

    /* .headerNav{
padding: 0 41px 0 32px;
} */
    header {
        padding: 0 41px 0 32px;

    }

    .list a {
        gap: 20px;
    }

            /* .list {
                gap: unset;
            } */

    .planetInfo {
        justify-content: space-between;
        width: 100%;
    }

    .planetName {
        font-size: 80px;
    }

    .description {
        font-size: 14px;
        text-align: left;
        width: 350px;
        font-size: 14px;
        color: #ffffff80;
    }

    .textOptions {
        flex-direction: column;
        /* text-align: center; */
    }

    .option {
        margin-left: 0px;
    }

    .planetInfo {
        flex-direction: row;
    }

    .container {
        width: 249px;
        height: 128px;
    }

    .option {
        width: 350px;
        margin-right: 0px;
    }

    .option p {
        margin-right: 28px;
        margin-left: 28px;
    }

    .key {
        font-size: 11px;
    }

    .value {
        font-size: 40px;
    }

    .details {
        margin-top: 55px;
    }
    .planetrectangle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 89px;
    }
    /* #rectActives{
        background-color: #419EBB;
    } */
    .rectangle {
        display: flex;
    width: 100%;
    height: 4px;
    margin-bottom: 39px;
 
    }
    .listItem{
        display: flex;
      justify-content: space-between;
    }
    .headerNav .list{
        margin-top: 0;
    }
    .headerNav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media all and (min-width: 1500px) {
    .container {
        width: 255px
    }
}